name: build-amd-linux

on:
  push:
    tags: ["v*"]

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build-amd-linux:
    name: build-amd-linux
    runs-on: ubuntu-latest
    environment: build-amd-linux
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-gnu

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --release --target x86_64-unknown-linux-gnu

      - name: Rename binary
        run: cp target/x86_64-unknown-linux-gnu/release/hu hu-linux-amd64

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hu-linux-amd64
          path: hu-linux-amd64
