name: Publish

# Temporarily disabled
on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    if: ${{ !github.event.release.prerelease }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: extractions/setup-just@v2
      - run: just ci-verify-version ${{ github.ref_name }}
      - run: just ci-publish
        env:
          CRATES_API_KEY: ${{ secrets.CRATES_API_KEY }}
